html, body {
  font-family: var(--company-font-family);
  background-color: var(--primary-background-color);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100vw;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  overscroll-behavior-y: none;
  }


#logo-header {
    width: 100%;
    height: 10vh;
    min-height: 120px;
    background-color: var(--company-logo-background);
    display: flex;
    align-items: center;
    padding-left: 20px;
    box-sizing: border-box;
    margin-bottom: 0px;
    z-index: 1;
}

#footer {
    width: 100%;
    height: 10vh;
    background-color: var(--primary-company-color-dark);
    display: flex;
    align-items: center;
    margin-top: 0px;
    bottom: 0;
    }


#company-logo {
    background-image: var(--company-logo-url);
    background-size: contain;
    background-repeat: no-repeat;
    width: var(--company-logo-width); 
    height: var(--company-logo-height);
}



#section-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-background-color);
    border: 0px solid var(--secondary-border-color);
    border-radius: var(--primary-border-radius);
    overflow: hidden; 
    box-sizing: border-box; 
    width: 100%;
    height: 80vh;
    /*min-height: 815px;*/
    z-index: 1;    
  }

#toggle-container {
    display: block;
    width: 1000px;
    height: 100%;
    /*min-height: 790px;*/
    max-width: 100%;
    max-height: 100%;
    background-color: var(--primary-background-color);
    border: 0px solid var(--primary-border-color);
    border-radius: var(--primary-border-radius);
    overflow: hidden; 
    box-sizing: border-box; 
    padding: 5px;
    z-index: 2;
  }


#title-container {
  display: flex;
}

.title-content .custom0c-p {
  display: none;
}

#clara-image {
  display: block;
}

#factoring-section-container {
  display: none;
}

#factoring-instant-answer-dialog-button-container {
  display: none;
}


.modal-contact-form-email {
  font-family: var(--company-font-family);
  font-size: var(--font-size-text);
  color: var(--primary-font-color);
  font-weight: normal;
  flex: 1;
  padding: 10px 10px 10px 30px;
  background-color: var(--form-and-field-background-color);
  border: 2px solid var(--form-and-field-border-color);
  border-radius: var(--primary-border-radius);
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  resize: none;
  height: 50px; 
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  position: relative;
}

.modal-contact-form-email:focus {
  background-color: var(--form-and-field-background-color-focus);
  border: 2px solid var(--form-and-field-border-color-focus) !important;
  border-radius: var(--primary-border-radius) !important;    
  z-index: 50;
  outline: none; 
}

.modal-contact-form-email::placeholder {
  color: var(--placeholder-standard-font-color);
  font-size: var(--font-size-text);
  font-style: italic;
  font-weight: normal;
  padding-left: 0px;
}



@media screen and (max-width: 850px) {


  html, body {
    font-family: var(--company-font-family);
    background-color: var(--primary-background-color);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: var(--viewport-height);
    width: 100vw;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    overscroll-behavior-y: none; 
  }


  #logo-header {
    width: 100%;
    height: calc(var(--media-company-logo-height) + 20px) !important;
    min-height: calc(var(--media-company-logo-height) + 20px) !important;
    background-color: var(--company-logo-background);
    display: flex;
    align-items: center;
    justify-content: center !important;
    padding: 0px !important;
    box-sizing: border-box;
    margin-bottom: 0px;
    z-index: 1;
}


  #footer {
    height: 10vh;
    min-height: 60px;
    }


  #company-logo {
    background-image: var(--company-logo-url);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
    width: var(--media-company-logo-width); 
    height: var(--media-company-logo-height);
  }

  #section-container {
    display: flex;
    flex-grow: 1 !important;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--primary-company-color);
    border: 0px solid var(--secondary-border-color) !important;
    border-radius: 0 !important;
    overflow: hidden !important; 
    box-sizing: border-box; 
    width: 100%;
    height: auto !important;
    /*Berechnung der Höhe: 100vh minus Logo-Höhe plus 20px Puffer + 40px für iframe-Header + 10px Rand */
    /*min-height: 80vh !important;*/
    z-index: 10000000 !important;    
  }

  #toggle-container {
    flex: 1 !important;
    display: flex !important;
    width: 100% !important;
    height: calc(100vdh - calc(var(--media-company-logo-height) + 20px + 40px + 55px)) !important;
    flex-direction: column !important;
    max-width: 100% !important;
    min-height: 0 !important;
    max-height: 100% !important;
    background-color: var(--primary-background-color);
    border: 0px solid var(--primary-border-color) !important;
    border-radius: 0 !important;
    overflow: hidden; 
    box-sizing: border-box; 
    padding: 0px 0px 10px 0px !important;
    z-index: 2;
  }


  #chatbot-container {
    flex: 1 !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    width: 100% !important;
    height: 50px !important;
    min-height: 0 !important;
    max-height: calc(100% - 10px) !important;
    box-sizing: border-box;
    overflow: hidden !important;
    padding: 0px 2px 0px 2px;
    border: 0px solid var(--tertiary-border-color);
    background-color: var(--primary-background-color) !important;
  }



#chatbot {
  flex-grow: 1 !important;
  height: 100% !important;
  width: 100% !important;
  min-height: 0 !important;
  max-height: 100% !important;
  overflow: hidden !important;
  border: 20px solid blueviolet/*var(--secondary-border-color)*/;
  border-radius: var(--primary-border-radius);
  background-color: var(--secondary-background-color) !important;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  z-index: 2; 
  position: static;
}



#title-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  padding: 5px 0px 5px 0px !important; 
  margin-top: 0px !important;
  background-color: var(--primary-company-color) !important;
}




#title-container .title-content {
    position: relative;
    width: 100%;
    padding: 0px;
    margin: 0px;
    text-align: center;
    justify-content: center;
}



.title-content .custom0c-p {
  display: block;
  font-family: var(--company-font-family);
  font-weight: 400 !important;
  color: var(--tertiary-font-color) !important;
  font-size: var(--media-font-size-title) !important;
  margin: 0 !important;
  text-align: center;
  justify-content: center;  
}

    
.title-content .custom0a-p {
  display: none;
}

.title-content .custom0b-p {
  display: none;
}

#clara-image {
  display: none;
}


#chatbot-header {

  display: flex; 
  align-items: center; 
  width: 100%; 
  box-sizing: border-box; 
  padding: 10px !important;
  border-bottom: 1px solid #ddd;
  background-color: var(--primary-background-color);
  border-radius: var(--primary-border-radius) var(--primary-border-radius) 0 0;
}



#chatbot-input-container {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  padding: 10px !important;
  box-sizing: border-box;
  background-color: var(--primary-background-color);
  border-radius: 0px 0px var(--primary-border-radius) var(--primary-border-radius);
  margin-top: 10px;
  min-height: 67px !important;
  z-index: 2;
}



.modal-contact-form-email {
  font-family: var(--company-font-family);
  font-size: var(--font-size-text);
  color: var(--primary-font-color);
  font-weight: normal;
  flex: 1;
  padding: 10px 10px 10px 30px;
  background-color: var(--form-and-field-background-color);
  border: 2px solid var(--form-and-field-border-color);
  border-radius: var(--primary-border-radius);
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  resize: none;
  height: 50px; 
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  position: relative;
}



#video-container {
    width: 100% !important;
    height: 100% !important;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    z-index: 2000000;
    position: relative;
  }
  
  iframe {
    width: 100% !important;
    height: 100% !important;
    min-width: 100%;
    min-height: 100%;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    border: none !important;
    background-color: none !important;
    object-fit: cover !important;
  }

  #start-gif-container.visible {
    display: flex !important;
    width: 100% !important;
    height: 100% !important;
    min-height: 10% !important;
    margin-top: 0px !important;
    overflow: hidden !important;
    position: relative !important;
    background-image: var(--start-gif-url) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: contain !important;
  }



#start-gif {
    background-image: var(--start-gif-url) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: contain !important;
    max-width: 100% !important;
    max-height: 100% !important;
    padding: 0% !important;
    margin-right: 0px !important;
    margin-top: 0px !important;
    overflow: hidden !important;
    z-index: 1000003 !important;
    clip-path: inset(5px) !important;
  }




}   



#start-gif-container.visible {
    display: flex !important;
    width: 100% !important;
    height: 100% !important;
    min-height: 10% !important;
    margin-top: 0px !important;
    overflow: hidden !important;
    position: relative !important;
    background-image: var(--start-gif-url) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: contain !important;
  }

  #start-gif {
    background-image: none !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: contain !important;
    max-width: 100% !important;
    max-height: 100% !important;
    padding: 0% !important;
    margin-right: 0px !important;
    margin-top: 0px !important;
    overflow: hidden !important;
    z-index: 1000003 !important;
    clip-path: inset(5px) !important;
  }



#contact-form-title-container {
  display: none;
}


#contact-form-container {
  display: none;
}

#input-button-container {
  display: none;
}


#back-to-outlook-container {
  display: none;
}


#instant-answer-dialog-button-container {
  display: none;
}

.icon4 {
    display: none;
}


#video-container {
    width: 100%;
    max-height: 100%;
    margin-top: 10px;
    overflow: hidden;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    position: relative;
  }

  iframe {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    border: none;
  }

